services:
  app:
    build:
      context: .
      target: src
    command: npm run dev
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./src/tests/local/testConf.json:/app/dist/tests/local/testConf.json:ro
    develop:
      watch:
        - action: sync
          path: .
          target: /app
        - action: rebuild
          path: package-lock.json
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_PASSWORD=harmony
      - POSTGRES_USER=harmony
      - POSTGRES_DB=harmony
    healthcheck:
      test:
        - "CMD-SHELL"
        - "sh -c 'pg_isready -d harmony -U harmony'"
      interval: 1s
      timeout: 5s
      retries: 5
      start_period: 10s
